@import '../scss/base.scss';

body {
  margin: 0;
}

.app {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
}

.custom-scroll {
  scrollbar-color: $light-green;
  scrollbar-width: thin;
}

.custom-scroll::-moz-scrollbar {
  width: 2px;
  height: 2px;
}

.custom-scroll::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: none;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: $light-green;
  border-radius: 1vmax;
  cursor: pointer;
}
